<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{{ path("app_home") }}" class="navbar-brand">
        <img src="{{ asset('images/logo.png') }}" alt="logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home', {type: "deal"}) }}">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_deal_list', {type: "deal"}) }}">Bons plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_deal_list', {type: "promo"}) }}">Codes promo</a>
            </li>
            {% if app.user %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_group") }}">Groupes</a>
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Poster
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ path("app_deal_create", {type: "deal"}) }}">Poster un deal</a></li>
                    <li><a class="dropdown-item" href="{{ path("app_deal_create", {type: "promo"}) }}">Poster un code promo</a></li>
                </ul>
            </li>
        </ul>

        <!-- Right elements -->
        <div class="navbar-nav ms-auto">
            <form class="d-flex my-2" action="{{ path('app_search') }}" method="get">
                <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
                <input class="form-control" type="text" value="{{ app.request.get('search') }}" name="search" placeholder="Rechercher" aria-label="Search">
            </form>
            {% if app.user %}
                <!-- Avatar -->
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if app.user.imageName == null %}
                            <img src="{{ asset('images/avatars/default-avatar.png') }}" class="rounded-circle" height="35" alt="Avatar" loading="lazy">
                        {% else %}
                            <img src="{{ asset('images/avatars/' ~ app.user.imageName) }}" class="rounded-circle" height="35" alt="Avatar" loading="lazy"/>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_user_preview', {id: app.user.id}) }}">Mon profil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_user_settings', {id: app.user.id}) }}">Paramètres</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="{{ path("app_logout") }}">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <li class="nav-item m-1">
                    <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                </li>
            {% endif %}
        </div>
        <!-- Right elements -->

    </div>
</nav>