<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{{ path("app_home") }}" class="navbar-brand">
        <img src="{{ asset('images/logo.png') }}" alt="logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_deal_list', {type: "deal"}) }}">Bons plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_deal_list', {type: "promo"}) }}">Codes promo</a>
            </li>
            {% if app.user %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_group") }}">Groupes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Poster
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path("app_deal_create", {type: "deal"}) }}">Poster un deal</a></li>
                        <li><a class="dropdown-item" href="{{ path("app_deal_create", {type: "promo"}) }}">Poster un code promo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_logout") }}">Deconexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>