{% extends 'base.html.twig' %}

{% block title %}Preview{% endblock %}

{% block header %}
    {{ parent() }}
    {%  include "layout-parts/navbar-user.html.twig" %}
{% endblock %}

{% block body %}

<div class="container my-4">
    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    {% if user.avatar == null %}
                        <img src="{{ asset('images/avatars/default-avatar.png') }}" class="rounded-circle" height="100" alt="Avatar" loading="lazy">
                    {% else %}
                        <img src="{{ asset('images/avatars/' ~ user.avatar) }}" class="rounded-circle" height="100" alt="Avatar" loading="lazy"/>
                    {% endif %}
                </div>
                <div class="col-10">
                    <h2>{{ user.username }}</h2>
                    <p>{{ user.email }}</p>
                    <p>{{ user.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card my-3" >
                <div class="card-body">
                    <h2>Statistiques <i class="bi bi-bar-chart"></i></h2>
                    <div class=" m-3">
                        <p><i class="bi bi-tag"></i> Nombre de deals postés : {{ user.deals|length }}</p>
                        <p><i class="bi bi-chat-right-dots"></i> Nombre de commentaires postés : {{ user.comment|length }}</p>
                        <p><i class="bi bi-arrow-up-right"></i> Note du deal posté le plus hot : {{ vote }} </p>
                        <p><i class="bi bi-calendar"></i> Moyenne des notes des deals postés sur 1 an glissant : {{ averageVote|round(0)  }} </p>
                        <p><i class="bi bi-bar-chart"></i> Pourcentage de deals postés devenus hot : {{ percentDealHot|round(0) }}%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card my-3">
                <div class="card-body">
                    <h2>Badges <i class="bi bi-trophy"></i></h2>
                    {% set goal = 10 %}
                    <div class="row m-3">
                        <div class="col">
                            <h3 class="card-title">Badge Surveillant</h3>
                            <p>Vous avez voté pour 10 deals.</p>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: {{ (nbVote / goal) * 100 }}%;" aria-valuenow="{{ nbVote }}" aria-valuemin="0" aria-valuemax="{{ goal }}"></div>
                            </div>
                            <p class="card-text">{{ nbVote }}/{{ goal }}</p>
                        </div>
                        <div class="col">
                            <h3>Badge Cobaye</h3>
                            <p>Vous avez posté au moins 10 deals</p>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: {{ (nbDeal / goal) * 100 }}%;" aria-valuenow="{{ nbDeal }}" aria-valuemin="0" aria-valuemax="{{ goal }}"></div>
                            </div>
                            <p class="card-text">{{ nbDeal }}/{{ goal }}</p>
                        </div>

                        <div class="col">
                            <h3>Badge Rapport de stage</h3>
                            <p>Vous avez posté au moins 10 commentaires</p>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: {{ (nbComment / goal) * 100 }}%;" aria-valuenow="{{ nbComment }}" aria-valuemin="0" aria-valuemax="{{ goal }}"></div>
                            </div>
                            <p class="card-text">{{ nbComment }}/{{ goal }}</p>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
