{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}

    <div class="container mt-2">
        <div class="card">
            <h1 class="card-header">Paramètres</h1>

            <div class="m-3">
                {{ form_start(form) }}
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        {% if user.avatar %}
                            <div class="me-3">
                                <img src="{{ asset('images/avatars/' ~ user.avatar) }}" alt="Avatar" class="img-thumbnail mt-2" style="width: 200px">
                            </div>
                        {% endif %}
                        <div>
                            {{ form_row(form.avatar) }}
                            <small class="form-text text-muted">Formats d'image acceptés : JPG, JPEG, PNG</small>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    {{ form_row(form.username) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.email) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.description) }}
                </div>

                <button type="submit" class="btn btn-primary">Mettre à jour</button>

                {{ form_end(form) }}

                <a href="{{ path('app_user_anonymize', {id:user.id}) }}" class="btn btn-danger">Supprimer mon compte</a>
            </div>
        </div>

    </div>


{% endblock %}
