{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Deal{% endblock %}

{% block body %}
    <div class="card-body">

        <div class="container my-4">
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.description) }}
                    </div>
                    {% if type == 'deal' %}
                        <div class="row mb-3">
                            <div class="col">
                                {{ form_label(form.price) }}
                                <div class="input-group">
                                    {{ form_widget(form.price) }}
                                    <span class="input-group-text" id="basic-addon2">€</span>
                                </div>

                            </div>
                            <div class="col">
                                {{ form_label(form.usualPrice) }}
                                <div class="input-group">
                                    {{ form_widget(form.usualPrice) }}
                                    <span class="input-group-text" id="basic-addon2">€</span>
                                </div>
                            </div>
                            <div class="col">
                                {{ form_label(form.shipping) }}
                                <div class="input-group">
                                    {{ form_widget(form.shipping) }}
                                    <span class="input-group-text" id="basic-addon2">€</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-success btn-sm text-white">
                        <i class="icon cil-send"></i> Poster
                    </button>
                </div>
                <div class="col-md-6">
                    <h4>Aperçu</h4>

                    <div class="card my-4">
                        <div class="card-body m-3">
                            <div class="">
                                <button class="btn btn-primary btn-sm decrease-temperature">-</button>
                                <span class="value">0</span>
                                <button class="btn btn-danger btn-sm increase-temperature">+</button>
                                <span class="float-end"><i class="bi bi-clock"></i></span>
                            </div>
                            <div>
                                <h4 class="card-title preview-title">Titre</h4>
                                {% if type == 'deal' %}
                                    <h6 class="card-subtitle mb-2 text-muted preview-price">0€</h6>
                                {% elseif type == 'promo' %}
                                    <h6 class="card-subtitle mb-2 text-muted preview-price">%</h6>
                                {% endif %}
                                <p class="card-text justify preview-description">Description</p>
                            </div>
                            <div class="my-3">
                                <span class="">Deal postée par {{ app.user.username }}</span>
                                <div class="float-end">
                                    <button class="btn btn-primary">0<i class="bi bi-chat-left-text"></i></button>
                                    <button class="btn btn-primary">Voir le deal  <i class="bi bi-box-arrow-up-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form_preview') }}
{% endblock %}



