{% extends 'base.html.twig' %}

{% block title %}Economax{% endblock %}

{% block body %}

    <h2>Information du deal</h2>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <a href=""> <h5 class="card-title">{{ deal.title }}</h5> </a>
                <div class="card-subtitle mb-2 text-muted">
                    <a class="btn btn-primary" href="#">Moins</a>
                    <span class="">{{ deal.temperature }}</span>
                    <a class="btn btn-primary" href="#" >Plus</a>
                </div>
                <p class="card-text">{{ deal.description }}</p>
                {% if app.user == deal.user %}
                    <a href="{{ path('app_deal_delete', {id: deal.id}) }}" class="btn btn-danger">Expirer</a>
                {% endif %}
            </div>
        </div>
        <div>
            <p>Comments</p>
            <div>
                {{ form_start(form) }}
                {{ form_row(form.text) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-success btn-sm text-white">Poster</button>
                {{ form_end(form) }}
            </div>
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ comment.text }}</p>
                        <p class="card-text">{{ comment.createdAt|date('d/m/Y') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
