{% extends 'base.html.twig' %}

{% block title %}Economax{% endblock %}

{% block body %}
    <div class="container">
        <div class="card my-2">
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-auto m-3">
                        {% if deal.imageName == null %}
                            <img src="{{ asset('images/deals/default-img.jpg') }}" class="img-fluid" style="width: 400px; height: 300px; object-fit: cover;" alt="Image deal">
                        {% else %}
                            <img src="{{ asset('images/deals/' ~ deal.imageName) }}" class="img-fluid" style="width: 400px; height: 300px; object-fit: cover;"  alt="Image deal">
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="">
                            <button class="btn btn-primary btn-sm decrease-temperature" id_deal="{{ deal.id }}">-</button>
                            {% if deal.getSumTemperatures() > 0 %}
                                <span class="value text-danger" id="temp-{{ deal.id }}">{{ deal.getSumTemperatures() }}°</span>
                            {% else %}
                                <span class="value text-primary" id="temp-{{ deal.id }}">{{ deal.getSumTemperatures() }}°</span>
                            {% endif %}

                            <button class="btn btn-danger btn-sm increase-temperature" id_deal="{{ deal.id }}">+</button>
                            <span class="float-end">{{ deal.comments|length }}  <i class="bi bi-chat-left-text"></i> <i class="bi bi-clock"></i> - Le {{ deal.createdAt|date('d M Y') }}</span>
                        </div>

                        <div class="my-3">
                            <h5 class="fs-3">{{ deal.title }}</h5>
                            {% if deal.type == 'Advert' %}
                                {% if deal.price is not null and deal.usualPrice is not null and deal.price < deal.usualPrice %}
                                    <span>
                                            <span class="fs-4 text-danger mb-2">{{ deal.price }}€</span>
                                            <span class="fs-4 mb-2 text-muted text-decoration-line-through">{{ deal.usualPrice }}€</span>
                                            {% set percentageMissing = ((deal.usualPrice - deal.price) / deal.usualPrice) * 100 %}
                                            <span class="fs-5 mb-2 text-muted">-{{ percentageMissing|round(0) }}%</span>
                                        </span>
                                {% else %}
                                    <span>
                                            <span class="fs-4 text-danger mb-2">{{ deal.price }}€</span>
                                        </span>
                                {% endif %}
                            {% elseif deal.type == 'PromoCode' %}
                                {% if (deal.typeReduc.value == 'percent') %}
                                    <h6 class="fs-4 m-2 text-danger">{{ deal.value }}%</h6>
                                {% elseif (deal.typeReduc.value == 'amount') %}
                                    <h6 class="fs-4 m-2 text-danger">{{ deal.value }}€</h6>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="my-3">
                            <div class="text-decoration-none text-black float-end">
                                <a href="{{ path('app_deal_info', {id: deal.id}) }}">
                                </a>
                                <a href="{{ deal.link }}">
                                    <button class="btn btn-primary">Voir le deal  <i class="bi bi-box-arrow-up-right"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="float-end">
                    <span class="">Deal postée par {{ deal.user.username }}</span>

                </div>

            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <h3>À propos de ce deal</h3>

                <p class="card-text my-4">{{ deal.description }}</p>
                {% if app.user == deal.user %}
                    <a href="{{ path('app_deal_delete', {id: deal.id}) }}" class="btn btn-danger">Expiré ?</a>
                {% endif %}

            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <h3>Les commentaires</h3>
                <div class="my-4">
                    <p>Ajouter un commentaire ?</p>

                    <div>
                        {{ form_start(form) }}
                        <div class="d-flex align-items-center">
                            <div>
                                {{ form_row(form.text) }}
                            </div>
                            <div class="ms-2">
                                <button type="submit" class="btn btn-primary btn-sm text-white">Poster</button>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="">
                    {% for comment in comments %}
                        <div class="card my-4">

                            <div class="card-body">
                                <p class="card-text">{{ comment.text }}</p>
                                <p class="card-text"><i>Postée le {{ comment.createdAt|date('d/m/Y') }} par {{ comment.user.username }}</i></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('deal_action') }}
{% endblock %}